/* General Styles */
body,p3, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'OT Neue Montreal', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

header {
  position: relative;
  padding: 20px;
  background-color: #000; 
  text-align: left;
  height: 300px; 
}

header h1 {
  position: absolute;
  top: -170px;
  left: 0px;
  font-size: 200px;
  color: #fff;
}

header p {
  position: absolute;
  top: 160px;
  left: 10px;
  font-size: 24px;
  display: inline-block;
  width: 100%;
  color: #fff;
}

.nav-link {
  position: absolute; 
  top: 200px; 
  right: 50px; 
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #ffffff;
}

header img {
  position: absolute;
  top: 12px; 
  right: 20px; 
  width: 150px; 
  height: 145px; 
}

/* Home Section */

.home {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  text-align: left;
}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.project-card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
  color: #000000;
}

.card-content h3 {
  font-size: 20px;
  margin: 5px 0;
}

.card-content p {
  font-size: 16px;
  margin: 0;
  color: #000000;
}

ul {
  list-style-type: none; 
  padding: 100; 
  margin: 0; 
}

li {
  margin-bottom: 1px; 
}

.project-description {
  font-size: 24px; 
  color: #fff; 
  margin-top: 0px; 
  margin-left: 1px; 
  line-height: 1.6; 
}

.project-container {
  margin-top: 0px; 
  margin-left: 1110px; 
  padding: 20px; 
  max-width: 800px; 
}

/* Center the canvas */
#sketch-container canvas {
  margin-top: 0px; 
  margin-left: 1110px; 
  padding: 20px; 
  display: block; 
  margin: 100 auto;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}
